#logging:
#  level:
#    org.springframework.security: trace
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  sql.init.mode: always
  threads:
    virtual:
      enabled: true